<form name="changePasswordForm" class="" ng-submit="changePassword(changePasswordForm.$valid)" novalidate>
  <div ng-show="changePasswordForm.$submitted" class="">
    <p ng-show="passwordChanged" class="success">Your password was Changed!</p>
    <p ng-show="!passwordChanged" class="error">Your password was not Changed.</p>
  </div>
  <div class="form-group ">
    <input class="form-control grey-input" type="text" name="newpassword" value="" placeholder="New Password" ng-model="password.new_password" required=>
    <div ng-show="changePasswordForm.$submitted" class="">
      <p ng-show="changePasswordForm.newpassword.$error.required" class="error">Your new password is required.</p>
    </div>
  </div>
  <div class="form-group ">
    <input class="form-control grey-input" type="text" name="currentpassword" value="" placeholder="Current Password" ng-model="password.current_password" required>
    <div ng-show="changePasswordForm.$submitted" class="">
      <p ng-show="changePasswordForm.currentpassword.$error.required" class="error">Your current password is required.</p>
    </div>
  </div>
  <button class="btn xact-blue-btn" type="submit" name="button">Change Password</button>
</form>
