<footer class="page-footer blue-grey darken-4" style="margin-top:4em;">
  <div class="container">
    <div class="footer-logo">
      <img class="footer-logo-img" alt="Brand image goes here" src="/static/images/LogoBnB.svg">
    </div>
    <hr class="footer-hr">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bid and Book</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">About Bid and Book</a></li>
          <li><a class="grey-text text-lighten-3" href="/help">Help</a></li>
          <li><a class="grey-text text-lighten-3" href="/policies">Policies</a></li>
          <li><a class="grey-text text-lighten-3" href="/terms">Terms and Privacy</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul class="flexRow">
          <li><a class="grey-text text-lighten-3" href="/coming-soon"><img src="/static/images/Icon_fb.svg" alt="" /></a></li>
          <li class="marg-left marg-right"><a class="grey-text text-lighten-3" href="/coming-soon"><img src="/static/images/Icon_in.svg" alt="" /></a></li>
          <li><a class="grey-text text-lighten-3" href="/coming-soon"><img src="/static/images/Icon_tw.svg" alt="" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
