{% extends "xactpad/__base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static from staticfiles %}

{% block content %}

<div class="HomeDiv" ng-controller="SimpleSearchController">
    <nav-bar class="navElement"></nav-bar>
    <div class="home_div">
        <div class="first-div">
            <div id="jumbotron-carousel" style="position: relative;">
                <div style="position: absolute;z-index: 99; color:#fff; text-align: center; width: 100%; top:180px;">
                    <div class="container">
                        <mini-search></mini-search>
                    </div>
                </div>
                <section class="regular slider" style="position: relative;z-index: 90">
                    {% for pic in page.carousel_items.all %}
                        {% image pic.image width-1600 as resized_image %}
                        <div class="carousel-bgimage"  style="background:url({{resized_image.url}}) no-repeat center center; background-size: cover; height: 34.375em; width:100%"></div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        {% verbatim %}
        <div class="search-results" ng-show="!results" style="min-height: 300px"></div>
        <div class="search-results" ng-show="results">
          <!-- List of results, html will also be shorter when using loop -->
          <div class="owner-grid-view col-lg-12">
            <div ng-show="results &amp;&amp; !results.length">No homes matching your criteria. Try broadening your search.</div>
            <span class="owner-listing-panel-outer-span" ng-repeat="listing in results">
              <div class="owner-listing-panel-outer-div">
                <a href="/homes/{{listing.id}}" target="_self">
                  <div class="panel panel-default owner-listing-panel">
                    <div class="panel-body owner-listing-panel-body">
                      <div class="img-wrap" style="width: 18.75em; height: 11.438em;background-image:url({{listing.photos[0].image}}); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%">
                      </div>
                      <h1 class="owner-listing-title marg-left" style="text-align:left">{{listing.name}}</h1>
                      <p class="owner-listing-location" style="text-align:left; margin-left: 1.2em;">{{listing.location_name}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </span>
          </div>
        <!-- end of result grid -->
        </div>

        {% endverbatim %}
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
$(function(){
    var $jumbotronCarousel = $(".regular");
    $jumbotronCarousel
        .slick({
            dots: false,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 6000,
            nextArrow: '',
            prevArrow: ''
          })
        .on('beforeChange', function(event, slick, currentSlide, nextSlide){
            console.log(event, nextSlide);
        })
        .on('afterChange', function(event, slick, currentSlide){
            console.log(event, currentSlide);
        })
      .show();
});
</script>
{% endblock %}